.container-page-charges-content{
    width: 100%;
    height: 100%;
    align-items: center;
    margin-bottom: 5%;
}

.top-charge-content{
    align-items: center;
    justify-content: space-between;
}
