.subtitle-table {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;

    color: #3F3F55;
}

.data .bg-red {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: red;
    color: #747488;
}

