.main-div span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.btn-close-modal {
    all: unset;
    position: absolute;
    right: 0px;
    top: 0;
    width: 32px;
    height: 30px;
    cursor: pointer;
}

.btn-close-modal:hover {
    transform: scale(110%);
}


.input-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-form span{
    align-self: flex-start;
    margin-top: 1%;
}
.container-top{
    display: flex;
    width: 100%;
    margin-bottom: 1%;
}

.container-top-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-btn-opt {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cancel-btn{
    background-color: #DEDEE9;
    color: #0E8750;
}
.aply-btn{
    background-color: #DA0175;
    color: #FFFFFF;
}
.aply-btn, .cancel-btn{
    cursor: pointer;
    width: 45%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
