.box-style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 491px;
    height: 700px;
}

@media only screen and (max-width: 1720px) {
    .box-style {
        height: 650px;
    }
}