.container-card-amount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 360px;
    height: 111px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 30px;
    color: #343447;
}

.amount-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}