.container-content-clients {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
}

.content-top {
    display: flex;
    justify-content: space-between;
    height: 46px;
    margin-bottom: 2%;
}

.content-top-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
}

.content-top-left img {
    width: 32px;
}

.content-top-left span {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #3F3F55;
}

.content-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
}

.add-client-btn {
    all: unset;
    width: 23.5%;
    height: 33px;
    padding: 0 5%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    background-color: #DA0175;
    box-shadow: 1px 1px 1px 0.3px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
}