.charge-modal-form,
.charge-modal-form input {
    width: 100%;
}

.charge-modal-form {
    justify-content: start;
}

.charge-modal-form input {
    filter: none;
    outline: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #3F3F55;
}

.header-charge-modal-form {
    display: flex;
    top: calc(52px - 32px);
    gap: 16px;
    width: 100%;
}

.header-charge-modal-form>h1 {
    margin: 0;
}

.close-icon-charge-modal {
    position: absolute;
    top: -10px;
    right: 0;

    cursor: pointer;
}

.close-icon-charge-modal:hover {
    transform: scale(110%);
}

.charge-modal-form {
    align-items: start;
    gap: 16px;
    height: 100%;
}

.charge-modal-form label {
    all: unset;
    margin-bottom: -12px;
}

.row-div {
    display: flex;
    gap: 20px;
}

.row-div label {
    margin-bottom: 4px;
}


.due-data-div,
.value-div {
    display: flex;
    flex-direction: column;
}

.description-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description-div label {
    margin-bottom: 4px;
}

.description {
    outline: none;
    width: 100%;
    height: 88px;

    padding: 10px 16px;

    border: 1px solid #D0D5DD;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #3F3F55;
}

.status-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.status-div>label {
    margin-bottom: 12px;
}

.radio-status-div {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 8px;
}

.radio-div {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 48px;

    padding: 12px 16px;

    background-color: #F0F0F5;
    border-radius: 10px;
}

.radio-div>input {
    all: unset;

    width: 24px;
    height: 24px;

    background: #C8C8D7;
    border-radius: 14px;

    cursor: pointer;
}

.radio-div>input:checked {
    background-image: url('../../assets/actiave-radio-input.svg');
}

.radio-div>label {
    margin: 0;
    cursor: pointer;
}

.btn-div {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

    width: 100%;
}

.btn-div>button {
    cursor: pointer;
}

.btn-div>button:hover {
    transform: scale(105%);
}

.cancel-btn {
    width: 100%;
    height: 33px;

    background-color: #F8F8F9;

    border: 1px solid #DEDEE9;
    border-radius: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #0E8750;
}

.apply-btn {
    width: 100%;
    height: 33px;

    background: #DA0175;
    border-radius: 10px;
    border: none;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #fff;
}