header {
    position: absolute;
    top: 0;
    right: 32px;

    display: flex;
    align-items: last baseline;
    justify-content: space-between;

    width: calc(100% - 160px);
    height: 112px;

    padding: 0 150px 24px 50px;

    border-bottom: 1px solid #ACD9C5;
}

header>h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;

    color: #343447;
}

.profile-div {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-div>span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #0E8750;
}

.profile-div>button {
    all: unset;
    cursor: pointer;

    margin-left: -8px;
}

.profile-div>button:hover {
    transform: scale(130%);
}