* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

.left {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 100vh;
    padding-top: 174px;
    padding-left: 49px;
    background-color: #F0F0F5;
}

.right {
    display: flex;

    width: 940px;
    padding-top: 208px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F9;
}

.stepper-form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 12px;

    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;

    color: #343447;
}

label {
    margin-top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #344054;
}

input {
    padding: 10px 14px;
    width: 368px;
    height: 44px;

    background: #FFFFFF;

    border: 1px solid #D0D5DD;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

button {
    align-self: center;

    padding: 4px 40px;
    margin-top: 46px;
    margin-bottom: 15px;

    width: 160px;
    height: 33px;
    left: calc(50% - 160px/2 - 0.5px);
    top: calc(50% - 33px/2 - 0.5px);

    color: #FFFFFF;
    background: #DA0175;
    border: none;
    border-radius: 10px;
}

span {
    align-self: center;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: #3F3F55;
}

a {
    color: #DA0175;
    text-decoration: underline;
    cursor: pointer;
}