.main-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    background-color: #F8F8F9;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    width: calc(100% - 140px);
}

.render-content {
    margin-top: 2%;
    width: 85%;
}