.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    background-color: #F8F8F9;
}

.q{
    margin-left: 5%;
    width: calc(100% - 140px);
}
.render-content{
    margin-top: 124px;
    width: 100%;
    border: 1px solid red;
}
